<div *ngIf="questionOnly" class="question-block">
  <mat-form-field>
    <input matInput type="text" placeholder="Текст вопроса" [(ngModel)]="questionText">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Краткий ответ" [(ngModel)]="answerOnly" disabled>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="required">Обязательный</mat-slide-toggle>
</div>

<div *ngIf="simple" class="question-simple">
  Текстовый вопрос
</div>

<div *ngIf="answerOnly" class="question-block">
  <mat-form-field>
    <input matInput type="text" placeholder="Текст вопроса" [(ngModel)]="questionText" disabled>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Краткий ответ" [(ngModel)]="answerText">
  </mat-form-field>
</div>
