<div class="align-self-center">
  <mat-form-field>
    <input matInput type="text" placeholder="Название темы" [(ngModel)]="topicModel.title">
  </mat-form-field>
</div>

<div
  cdkDropList
  class="example-list"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListConnectedTo]="dropListConnectedTo"
  [cdkDropListData]="topicModel.questions">
  <div class="example-box" *ngFor="let question of topicModel.questions ; let i = index" cdkDrag>
    <app-question-details [questionOnly]="true" [questionOption]="question"></app-question-details>
    <button mat-icon-button color="warn" (click)="deleteQuestionOption(i)">
      <mat-icon style="font-size: 24px;">close</mat-icon>
    </button>
  </div>
</div>
