<div *ngIf="simple" class="question-simple">
  Выпадающий список
</div>

<div *ngIf="questionOnly">
  <mat-form-field>
    <input matInput type="text" placeholder="Текст вопроса" [(ngModel)]="title">
  </mat-form-field>
  <div class = "question-variants"  *ngFor="let variant of questionVariants; let i = index">
    <mat-form-field>
      <input matInput type="text" placeholder="Текст варианта {{i+1}}" [(ngModel)]="variant">
    </mat-form-field>
    <button mat-button color="accent" (click)="deleteVariant(i)">del</button>
  </div>
  <button mat-button color="primary" (click)="addVariant()">Добавить вариант</button>
  <mat-slide-toggle [(ngModel)]="required">Обязательный</mat-slide-toggle>
</div>
