<div [ngSwitch]="questionOption.type">
  <ng-template ngSwitchCase="text"><ng-content *ngTemplateOutlet="text"></ng-content></ng-template>
  <ng-template ngSwitchCase="chooseOne"><ng-content *ngTemplateOutlet="chooseOne"></ng-content></ng-template>
</div>

<ng-template #text>
  <mat-form-field class="w-100">
    <input matInput type="text" placeholder="Текст вопроса" [(ngModel)]="questionOption.title">
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput type="text" placeholder="Краткий ответ" disabled>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="questionOption.required">Обязательный</mat-slide-toggle>
</ng-template>

<ng-template #chooseOne>
  <mat-form-field class="w-100">
    <input matInput type="text" placeholder="Текст вопроса" [(ngModel)]="questionOption.title">
  </mat-form-field>
  <div class = "w-100"  *ngFor="let variant of questionOption.questionVariants; let i = index">
    <mat-form-field>
      <input matInput type="text" placeholder="Вариант {{i+1}}" [(ngModel)]="variant.content">
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="deleteVariant(i)">
      <mat-icon style="font-size: 24px;">close</mat-icon>
    </button>
  </div>
  <button mat-button color="primary" (click)="addVariant()">Добавить вариант</button>
  <mat-slide-toggle [(ngModel)]="questionOption.required">Обязательный</mat-slide-toggle>
</ng-template>

<ng-template #chooseMany>

</ng-template>
