<div>
  <h2>Форма регистрации</h2>
  <label>Логин<input #userLogin></label>
  <label>Пароль<input #userPassword></label>
  <label>Email<input #userEmail></label>
  <label>Фамилия<input #userSurname></label>
  <label>Имя<input #userName></label>
  <label>Отчество<input #userPatronymic></label>
  <label>Дата Рождения<input #userBirthday placeholder="YYYY-MM-DD"></label>
  <button (click)="add(userLogin.value,userPassword.value,userEmail.value,userSurname.value,
                          userName.value,userPatronymic.value,userBirthday.value)">Зарегестрироваться</button>
</div>
