.question-block {
  border-color: black;
  border-width: 10px;
}

mat-form-field {
  margin-left: 10%;
  display: block;
  width: 80%;
}

mat-slide-toggle {
  position: relative;
  display: block;
  margin-right: 10%;
}
